CONFLUENCE_TOKEN=<your_confluence_token>
CONFLUENCE_BASE_URL=https://confluence.silabs.com
CONFLUENCE_PAGE_ID=<your_confluence_page_id>
CONFLUENCE_PAGE_TITLE=<your_confluence_page_title>

JIRA_BASE_URL=https://jira.silabs.com
JIRA_TOKEN=<your_jira_token>

XRAY_PAGE_SIZE=50
XRAY_TIMEOUT_SECONDS=90
XRAY_RETRY_COUNT=2
XRAY_WORKERS=10

TECHNOLOGY=WLAN
TEST_AREA=FUNCTIONAL

RECIPIENT_EMAILS=<recipient_emails_comma_separated>
CC_EMAILS=<cc_emails_comma_separated>